@import "src/styles/variables";

.editor-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: $primary-black;
  box-shadow: 0 4px 4px rgba($extra-black, 0.2);
  z-index: 100;
}
