{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".tsx"]
      }
    ],
    "operator-linebreak": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "quote-props": 0,
    "import/namespace": 0,
    "react/button-has-type": 0,
    "react/prop-types": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "linebreak-style": 0,
    "function-paren-newline": 0,
    "implicit-arrow-linebreak": 0,
    "object-curly-newline": 0,
    "max-len": 0,
    "quotes": ["error", "double", { "avoidEscape": true }],
    "comma-dangle": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-tag-spacing": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "import/extensions": [
      1,
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/extensions": [".ts", ".tsx"],
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
