@import "src/styles/variables";
.editor-right-side-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  height: calc(100% - 50px);
  background: $primary-black;
  box-shadow: 0 4px 4px rgba($extra-black, 0.25);
  overflow-y: auto;
}
