@import "src/styles/variables";

.panel {
  &__title {
    color: $light-grey;
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //padding-left: 10px;
  }
}
