$assetPath: "../../assets/fonts/Montserrat/";

@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$file}.woff2") format("woff2"),
    url("#{$file}.woff2") format("woff2"),
    url("#{$file}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face("Montserrat", $assetPath + "Montserrat-ExtraBold", 800);
@include font-face("Montserrat", $assetPath + "Montserrat-SemiBold", 600);
@include font-face("Montserrat", $assetPath + "Montserrat-Light", 300);
@include font-face("Montserrat", $assetPath + "Montserrat-Regular", normal);
@include font-face("Montserrat", $assetPath + "Montserrat-Medium", 500);
@include font-face("Montserrat", $assetPath + "Montserrat-Bold", bold);


