@import "src/styles/variables";

.blur-modal {
  position: absolute;
  background-color: $primary-black;
  top: 0;
  width: 260px;
  z-index: 10000;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid $black;
  }

  &__title {
    margin-left: 25px;
    color: $light-grey;
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }

  &__button {
    margin-right: 10px;

    svg {
      width: 15px;
      height: 15px;
    }

    &:not(:last-child) {
      margin-left: auto;
    }

    &_close {
      margin-right: 15px;

      svg {
        transform: rotate(45deg);
      }
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 25px;

    .input-group {
      width: 100px;

      &:first-child {
        margin-right: 10px;
      }

      &__label {
        text-transform: capitalize;
      }
    }
  }
}
