.input-color-picker {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__input {
    &_color {
      padding: 0;
      min-width: 25px;
      min-height: 30px;
      max-width: 25px;
      margin-left: 7px;
    }

    &_text {
      width: 70px;
      margin-left: 5px;
    }
  }
}
